<div class="comment comment-id w-4/5 py-3 mx-auto" data-comment-id="{{id}}">
    <div class="flex flex-row relative">
        <div class="w-full my-4">
                    <a href="/blog/user/{{user.id}}">
            <p class="inline capitalize pr-2">{{user.username}}</p>
            </a>
            <p class="inline italic">{{format_date createdAt}}</p> {{#if is_edited}} <p class="inline"><i>(edited)</i></p> {{/if}}
        </div>
        {{#if (eq user_id user.id)}}
        <div class="absolute my-4 right-0">
            <p class="inline pr-2 pointer edit-comment"><i class="fa-regular fa-pen-to-square fa-lg"></i>Edit</p>
            <p class="inline pointer delete-comment"><i class="fa-regular fa-trash-can fa-lg"></i>Delete</p>
        </div>
        {{/if}}
    </div>
    <div class="" >
        <p class="comment-text text-xl whitespace-pre-line">{{content}}</p>
    </div>
</div>